{% extends 'base.html' %}

{% block content %}

<div class="dashboard-wrapper">
	<h4>Hi {{ g.user.username }}! Here are your reminders:</h4>

	<hr />


	<ul class="list-group">
		{% for reminder in reminders %}
		<li class="list-group-item">{{ reminder.description }}</li>
		{% endfor %}
	</ul>

	<hr />
	<div style="margin-bottom: 10px;" class="row">
		<div class="col-lg-8 col-md-8">
			<input type="text" class="form-control" placeholder="new reminder.." />
		</div>
		<div class="col-lg-4 col-md-4">
			<button id="addButton" class="btn btn-block btn-primary">Add</button>
		</div>
	</div>
</div>

<script type="text/javascript">
	$(document).ready(function(){
		$("#addButton").on('click', function(){
			
		});
	});

</script>

{% endblock %}