{% extends 'base.html' %}

{% block content %}

<div class="dashboard-wrapper">
	<h4>Hi {{ g.user.username }}! Here are your reminders:</h4>

	<hr />

	<div class="row">
		<div class="col-lg-10 col-lg-offset-1">
			<ul class="list-group">
				<li class="list-group-item">Cras justo odio</li>
				<li class="list-group-item">Dapibus ac facilisis in</li>
				<li class="list-group-item">Morbi leo risus</li>
				<li class="list-group-item">Porta ac consectetur ac</li>
				<li class="list-group-item">Vestibulum at eros</li>
			</ul>
		</div>
	</div>
</div>

{% endblock %}