{% extends 'base.html' %}

{% block title %}
Welcome!
{% endblock title %}

{% block content %}

<div class="row">
	<div class="col-lg-3 col-lg-offset-4 welcome-wrapper">
		<div class="input-group">
  			<span class="input-group-addon"><i class="fa fa-check"></i></span>
  			<input type="text" class="form-control" placeholder="..username..">
		</div>
		<div class="input-group">
			<span class="input-group-addon">#</span>
			<input type="text" class="form-control" placeholder="..pin..">
		</div>
		<div class="input-group">
			<span class="input-group-addon">#</span>
			<input type="text" class="form-control" placeholder="..phone..">
		</div>
	</div>
</div>

{% endblock content %}