<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}" />
        <link href="{{ url_for('static', filename='css/font-awesome.min.css') }}" rel="stylesheet">
        <link href="{{ url_for('static', filename='css/custom.css') }}" rel="stylesheet">
        <title>{% block title %}{% endblock %}</title>
        <script src="{{ url_for('static', filename='js/jquery-1.11.1.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>

        <script src="{{ url_for('static', filename='lib/codemirror.js') }}"></script>
        <link rel="stylesheet" href="{{ url_for('static', filename='lib/codemirror.css') }}">
        <script src="{{ url_for('static', filename='mode/javascript/javascript.js') }}"></script>

        <script type=text/javascript>
          $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
          $(document).ready(function(){
        
          });
        </script>
    </head>
    <body>
        <div class="background">
            {% block content %}{% endblock %}
        </div>
    </body>
    <script src="{{ url_for('static', filename='js/custom.js') }}"></script>
</html>